params {
    accession = null
    reference = null
    outdir = "results"
    conda_env = null
    container = "yourdockerhubuser/hw3-pipeline:latest"
}

process {
    errorStrategy = 'terminate'

    withName: FASTQC_RAW {
        cpus = 1
        memory = '1 GB'
        time = '1h'
    }
    withName: TRIM_READS {
        cpus = 2
        memory = '2 GB'
        time = '1h'
    }
    withName: FASTQC_TRIMMED {
        cpus = 1
        memory = '1 GB'
        time = '1h'
    }
    withName: MAP_READS {
        cpus = 8
        memory = '12 GB'
        time = '4h'
    }
    withName: PLOT_COVERAGE {
        cpus = 1
        memory = '1 GB'
        time = '1h'
    }
    withName: VARIANT_CALLING {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    withName: 'BCFTOOLS_FILTER' {
        ext.args = '--include "QUAL>=20 && DP>=10" --output-type z'
    }
}

profiles {
    local {
        process.executor = 'local'
        conda.enabled = true
        docker.enabled = false
        process.conda = params.conda_env
    }

    cluster {
        process.executor = 'slurm'
        conda.enabled = true
        docker.enabled = false
        process.conda = "${projectDir}/environment.yml"
    }

    container {
        process.executor = 'local'
        conda.enabled = false
        docker.enabled = true
        process.container = params.container
        docker.runOptions = '--rm --platform linux/amd64'
    }
}
